.brands {
  padding: 1rem 0;
}

.brands h2 {
  font-weight: 500;
  font-size: 2vw;
  color: var(--pink);
  text-align: center;
  margin: 1rem;
}

.brandDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandDiv img {
  width: 130px;
  object-fit: contain;
}

@media (max-width: 520px) {
  .brands h2 {
    font-size: 5vw;
  }
  .brandDiv {
    flex-wrap: wrap;
  }
  .brandDiv img {
    width: 100px;
    margin-bottom: 1rem;
  }
}
